target/**
regression-tests/*/Output*
**.png
**.dot
.bsp
**/CMakeCache.txt
CMakeFiles
.idea
cc-parser/bin
cc-parser/target
cc-parser/tricera
acsl-parser/bin
acsl-parser/target
acsl-parser/tricera
acsl-parser/acsl-parser.jar
project/project
project/target
Makefile
cmake_install.cmake
preprocessor/build
tri-pp
*.swp
*.swo
