name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository (with submodules)
      uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
    - name: Patch build.sbt files of submodules
      run: ./patch-builds.sh
    - name: Build
      run: sbt nativeImage
    - name: Test
      run: cd regression-tests; export TERM=xterm; ./runalldirs -native
